.home {
    .container {
        padding-inline: 12px;
    }
    
    .imageContainer {
        position: relative;
        width: 100%;
        padding-top: 55%;
    
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    .title {
        h1 {
            font-size: 1.71428571rem;
            line-height: 1.33333333;
            word-break: break-word;
            margin-bottom: 10px;
        }
    }

    h3, span {
        font-size: 14px;
        line-height: 1.42857143;
        color: #676767;
        font-family: 'SanomatGrabApp Light';
    }

    .ratingAndDistance {
        display: flex;
        
        .rating {
            margin-right: 44px;
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }

        .distance {
            display: flex;
            align-items: center;

            img {
                width: 20px;
                margin-right: 8px;
            }

            .dot {
                margin-inline: 10px;
            }
        }
    }

    .openingHours {
        margin-top: 10px;

        .text {
            font-size: 14px;
            line-height: 1.42857143;
            font-weight: 600;
            color: #676767;
            margin-right: 42px;
        }

        .time {
            margin-left: 5px;
        }
    }

    .promoWrapper {
        display: flex;
        flex-flow: row wrap;
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #f0efef;

        button {
            border: none;
            background: none;
            padding-bottom: 2px;
            color: #00a5cf;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
        }

        .promo {
            display: flex;

            span {
                margin-inline: 8px 16px;
            }
        }
    }
}